<div class="row mt-5">
    <h1 class="display-3">Heroe <small class="text-muted">Nombre del heroe</small></h1>
    <hr>
    <div class="col-12 text-end">
        <button class="button-design" routerLink="/heroes">
            <span class="material-icons button-icon">arrow_back_ios</span>
            <span class="button-text">Regresar</span>
        </button>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <form>
            <div class="row mb-3">
                <label for="id_Label" class="form-label">Firebase ID</label>
                <input type="text" class="form-control" id="Id_Label" aria-describedby="id_Help" placeholder="Firebase ID" disabled>
                <div id="id_Help" class="form-text">Este campo es autooperado</div>
            </div>
            <div class="row mb-3">
                <label for="nombre_Label" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre_Label" placeholder="Firebase ID">
            </div>
            <div class="row mb-3">
                <label for="poder_Label" class="form-label">Poder</label>
                <input type="text" class="form-control" id="poder_Label" placeholder="Firebase ID">
            </div>
            <div class="row mb-3">
                <label for="botones_Label">Estado</label>
                <button class="btn btn-outline-success button-dessign-2 w-50" type="button">
                    <span class="material-icons button-icon-2">face</span>
                    <span class="button-text-2">Vivo</span>
                </button>
                <button class="btn btn-outline-danger button-dessign-2 w-50" type="button">
                    <span class="material-icons button-icon-2">face</span>
                    <span class="button-text-2">Vivo</span>
                </button>
            </div>
        </form>
    </div>
</div>