.button-design {
    display: inline-flex;
    padding: 0;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: brown;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    outline: none;
}

.button-design:hover {
    background-color: rgb(117, 28, 28);
}

.button-design:active {
    background-color: rgb(173, 42, 42);
}

.button-icon,
.button-text {
    display: inline-flex;
    align-items: center;
    padding: 0 18px;
    height: 100%;
}

.button-text {
    text-transform: uppercase;
}

.button-icon {
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.08);
}

.button-dessign-2 {
    display: inline-flex;
    justify-content: center;
    padding: 0;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
}

.button-icon-2,
.button-text-2 {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}