.button-dessign {
    display: inline-flex;
    font-size: 18px;
    font-weight: 500;
    padding: 0%;
    height: 50px;
}

.button-text,
.button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}

.button-text {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}