<div class="row mt-5">
    <h1 class="display-2">Listado de <small class="text-muted">Heroes</small></h1>
    <hr>
</div>
<div class="row">
    <div class="col text-end">
        <button type="button" class="btn btn-success button-dessign" routerLink="/heroe/nuevo">
            <span class="button-text mx-2">Agregar</span>
            <span class="material-icons button-icon">person_add_alt</span>
        </button>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-10">
        <table class="table table-striped rounded shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Poder</th>
                    <th>Vivo</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let heroe of Heroes; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{heroe.data.nombre}}</td>
                    <td>{{heroe.data.poder}}</td>
                    <td>
                        <div *ngIf="heroe.data.vivo" class="badge bg-success">Vivo</div>
                        <div *ngIf="!heroe.data.vivo" class="badge bg-danger">Muerto</div>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="borrar(heroe, i)">Borrar</button>
                        <button class="btn btn-secondary ms-2" (click)="modificar(heroe.id)">Modificar</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class=" row justify-content-center ">
    <div class="alert alert-danger text-center w-75 ">
        <h4>No hay registros</h4>
        <span class="material-icons h1 ">error</span>
    </div>
    <div class="alert alert-primary text-center w-75 ">
        <h4>Cargando</h4>
        <span class="material-icons h1 rotated ">sync</span>
    </div>
</div>