<div class="row mt-5">
    <h1 class="display-2">Listado de <small class="text-muted">Heroes</small></h1>
    <hr>
</div>
<div class="row">
    <div class="col text-end">
        <button class="btn btn-primary">
            Agregar
        </button>
    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-10">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Poder</th>
                    <th>Vivo</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>